*, *::before, *::after {
  box-sizing: border-box;
}
 
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
#root {
  min-height: 100%;
}